@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h3>Todo Counts = @todos.Count(todoItem => !todoItem.IsDone)</h3>

<ul>
    @foreach(var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind=_newTodo/>
<button @onclick=AddTodo>Add Todo</button>

@code
{
    private string? _newTodo;
    private List<TodoItem> todos = new List<TodoItem>();

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(_newTodo))
        {
            todos.Add(new TodoItem { Title = _newTodo });
            _newTodo = string.Empty;
        }
    }
}